#include "resources.h"
#include <windows.h>
#include <commctrl.h>
#include <richedit.h>

DLG_ABOUT DIALOG 0, 0, 120, 95
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "About Tic-Tac-Toe"
FONT 8, "Ms Shell Dlg"
{
    CONTROL "Tic-Tac-Toe 1.2", 1,"STATIC",SS_LEFT,10,10,120,16
    CONTROL "By Veselcraft", 2,"STATIC",SS_LEFT,10,20,120,16
    CONTROL "With C++ and WinAPI", 3,"STATIC",SS_LEFT,10,30,120,16
    CONTROL "Sources are on GitHub", 4,"STATIC",SS_LEFT,10,40,120,16
    CONTROL "OK", 5,"BUTTON",SS_LEFT,10,70,100,16
}

IDB_OICON BITMAP "o.bmp"
IDB_XICON BITMAP "x.bmp"
